.container {
  max-width: 375px;
  margin: 0px auto;
  padding: 0 1.5rem;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 728px;
    padding: 0 2rem;
  }

  @media screen and (min-width: 1440px) {
    max-width: 968px;
    padding: 0;
  }
}
