@import './base/reset';
@import 'normalize.css';
@import './all-styles';

html {
  font-size: 62.5%;
}

body {
  font-family: Poppins-500, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01em;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}
