/* Colors */
$primary-bg-color: #fafbff;
$secondary-bg-color: #fff;

$primary-text-color: #292d32;
$secondary-text-color: #b5b7c0;
$title-color: #000;

$accent-color: #5932ea;

$active-color: rgba(22, 192, 152, 0.38);
$active-border: 1px solid #00b087;
$inactive-color: #ffc5c5;
$inactive-border: 1px solid #df0404;

$black: #000000;
$white: #ffffff;

/* SideBar width */
$sidebar-width: 306px;

/* Breakpoints */
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;
