@import '@/styles/all-styles.scss';

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  min-width: 25rem;
}

.nav__item {
  padding: 1.1rem 0.8rem 1.1rem 1.1rem;
  border-radius: 0.8rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $accent-color;

    .nav__link {
      color: #fff;
    }
  }
}

.nav__content {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins-500;
  color: #9197b3;
}
