@import '../styles/all-styles';

.main {
  padding: 3rem 0 8rem 0;

  @include media(768) {
    padding: 3rem 0 8rem 0;
  }

  @include media(1440) {
    padding: 4.1rem 9.5rem 25.8rem 37.7rem;
  }
}
