@import '@/styles/all-styles';

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 96.8rem;
  margin-bottom: 3rem;
  border-collapse: collapse;
  font-size: 1.2rem;

  @include media(768) {
    display: table;
    font-size: 1.1rem;
  }

  @include media(1440) {
    font-size: inherit;
  }
}

.table__line {
  &::after {
    display: none;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #eee;

    position: absolute;
    left: 0;

    @include media(768) {
      display: block;
    }
  }
}

.table__header {
  padding: 0 1.2rem 1.2rem 0;
  text-align: left;
  color: $secondary-text-color;

  &:last-child {
    text-align: center;
  }

  @include media(1440) {
    padding: 0 1.4rem 1.4rem 0;
  }
}

.table__cell {
  border-bottom: 1px solid #eee;
  padding: 1.8rem 0;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    @include media(768) {
      text-align: center;
    }
  }

  &.active {
    color: $active-color;
    position: relative;

    &::after {
      display: none;
      content: '';
      width: 6rem;
      height: 2.5rem;
      border: $active-border;
      border-radius: 0.4rem;
      background-color: $active-bg;

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      transform: translate(-50%, -50%);

      @include media(768) {
        display: block;
      }

      @include media(1440) {
        width: 8rem;
        height: 2.9rem;
      }
    }
  }

  &.inactive {
    color: $inactive-color;
    position: relative;

    &::after {
      display: none;
      content: '';
      width: 6rem;
      height: 2.5rem;
      border: $inactive-border;
      border-radius: 0.4rem;
      background-color: $inactive-bg;

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      transform: translate(-50%, -50%);

      @include media(768) {
        display: block;
      }

      @include media(1440) {
        width: 8rem;
        height: 2.9rem;
      }
    }
  }

  @include media(1440) {
    padding: 2.4rem 0;
  }
}

.table__itemMobile {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  column-gap: 0.4rem;
  row-gap: 1.6rem;
  border-collapse: collapse;
  font-size: 1.2rem;
}

.table__lineMobile {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  position: relative;

  &::after {
    display: block;
    content: '';
    width: 200%;
    height: 1px;
    background-color: #eee;

    position: absolute;
    left: 0;
    bottom: -0.8rem;
    z-index: 1;
  }
}

.table__headerMobile {
  color: $secondary-text-color;

  &:last-child {
    text-align: left;
  }
}

.table__contentMobile {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.table__cellMobile {
  border: none;

  &.active {
    color: $active-color;
  }

  &.inactive {
    color: $inactive-color;
  }
}
