@import '@/styles/all-styles';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 3.7rem 2.8rem 7.6rem 2.8rem;
  background-color: $secondary-bg-color;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  transition: transform 0.2s linear;

  &.hidden {
    transform: translateX(-100%);
  }
}

.sidebar__burger {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  background-color: rgba(22, 192, 152, 0.38);
  cursor: pointer;

  position: absolute;
  top: 8rem;
  right: -3.5rem;
  z-index: 2;

  @include media(1440) {
    display: none;
  }
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
}
