@font-face {
  font-family: 'Poppins-400';
  src: url(./assets/fonts/Poppins-Regular.woff) format('woff'),
    url(./assets/fonts/Poppins-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-500';
  src: url(./assets/fonts/Poppins-Medium.woff) format('woff'),
    url(./assets/fonts/Poppins-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Poppins-600';
  src: url(./assets/fonts/Poppins-SemiBold.woff) format('woff'),
    url(./assets/fonts/Poppins-SemiBold.woff2) format('woff2');
}
